
#item-a{

background-color: blue;
}
#item-b{

background-color: yellow;
}
#item-c{

background-color: red;
}
#item-d{

background-color: gray;
}
#item-e{
background-color: gold;
}
#item-f{
background-color: green;
}
#item-g{
background-color: salmon;
}
#item-h{
background-color: slateblue;
}
#item-i{
background-color: palevioletred;
}

/* iPads (portrait) ----------- */
@media(max-width : 1024px) {

}
@media(max-width: 768px) {
/* For mobile phones: */
#item-a{
background-color: yellow;

}
#item-b{

background-color: gold;
}
#item-c{
background-color: blue;

}
#item-d{

background-color: gray;
}
#item-e{

background-color: slateblue;
}
#item-f{
background-color: palevioletred;

}
#item-g{
background-color: salmon;
}
#item-h{
background-color: red;
}
#item-i{
background-color: green;
}
}
